*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    height: 80vh;
    width: 30vw;
    border: 2px solid red;
    margin: 5px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li{
    list-style:none;
}
.container img{
    width: 300px;
    height: 300px;

}
.container ul{
    margin-top: 20px;
}
.container ul li{
 margin-top: 10px;
}